<h3>Search Results</h3>  

    <% @results.each do |result| %>
      <tr>
        <td><%= result.name %></td>
        <td> | </td>
        <td><%= link_to 'Join Group ', join_group_path(result)%></td>
      </tr>
    <% end %>
  </tbody>
</table>