<div class="text-center w-50 m-auto p-5">
  <h1>Welcome to Researchly!</h1>
  <p class="py-5 fs-1">Welcome to the Researchly platform. Please sign in or create an account to get started.</p>
  <p>Either sign up or sign in.</p>
  <button type="button" class="btn btn-primary">
    <%= link_to "Sign up", new_user_registration_path, class: "text-light"%>
  </button>
  <button type="button" class="btn btn-primary">
    <%= link_to "Log in", new_user_session_path, class: "text-light"%>
  </button>
</div>
