/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 */
 ul{
  list-style-type: none;
  }
  .message_container{
    border: 1px;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .nested_messages .nested_messages .nested_messages {
      margin-left: 0;
  }
  div.message {
      display: inline-block;
      font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
      border-color:rgb(0, 172, 237);;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      margin: 10px 5px;
      padding: 0 16px 16px 16px;
      max-width: 468px;
      width: 100%;
  }
  .message blockquote.message {
      display: inline-block;
      font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      border-color: #eee #ddd #bbb;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      margin: 10px 5px;
      padding: 0 16px 16px 16px;
      max-width: 468px;
  }

  blockquote.message p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  }
  tr.read{
    background-color:#c6cbcf;
  }
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
  text-decoration: underline;
  }